@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header {
    position: fixed;
    top: 0;
    height: 95px;
}

main{
    padding-top: 95px;
    padding-left: 280px;
}

.logo {
    width: 150px;
}
.search-lens {
    position: relative;
    right: 40px;
    border-left: 0px!important;
}
.nav-bg {
    background-color: #0F0F0F;
}
.button-bg {
    background-color: #222222!important;
}
.search-bg {
    background-color: #121212!important;
}
.search-bg::placeholder{
    color: white!important;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 95px;
    width: 280px;
    height: calc(100vw - 95px)!important;
}
